<section class="block block--form" data-theme="{{ block.theme }}" data-size="{{ block.size }}">
    <div class="container">
        {% if block.heading|length %}<h2>{{ block.heading }}</h2>{% endif %}
        {% if block.description|length %}<div class="block__content">{{ block.description }}</div>{% endif %}
        {% if block.form is defined and block.form|length %}
            {% set form = block.form.one() %}
            {% if form %}
                {{ craft.formie.renderForm(form) }}
            {% endif %}
        {% endif %}
    </div>
</section>
