<section class="block block--accordions" data-theme="{{ block.theme }}" data-size="{{ block.size }}">
    <div class="container">
        {% if block.heading|length %}<h2>{{ block.heading }}</h2>{% endif %}
        <div class="accordion">
            {% for item in block.accordionItems.all() %}
                <details class="accordion__item">
                    <summary class="accordion__title">{{ item.title }}</summary>
                    <div class="accordion__content">{{ item.description }}</div>
                </details>
            {% endfor %}
        </div>
    </div>
</section>
