<section class="block block--image" data-theme="{{ block.theme }}" data-size="{{ block.size }}">
    <div class="container">
        {% if block.image|length %}
            {% set img = block.image.one() %}
            <figure>
                <img src="{{ img.url }}" alt="{{ img.title }}">
                {% if block.caption|length %}<figcaption>{{ block.caption }}</figcaption>{% endif %}
            </figure>
        {% endif %}
    </div>
</section>
