<section class="block block--text-image" data-theme="{{ block.theme }}" data-size="{{ block.size }}" data-alignment="{{ block.imageAlignment }}">
    <div class="container">
        <div class="block__text">
            {% if block.heading|length %}<h2>{{ block.heading }}</h2>{% endif %}
            {% if block.description|length %}<div class="block__content">{{ block.description }}</div>{% endif %}
            {% if block.linkedAction %}
                <a href="{{ block.linkedAction }}" class="btn">{{ block.callToAction ?? 'Learn More' }}</a>
            {% endif %}
        </div>
        {% if block.image|length %}
            {% set img = block.image.one() %}
            <div class="block__image">
                <img src="{{ img.url }}" alt="{{ img.title }}">
            </div>
        {% endif %}
    </div>
</section>
