<section class="block block--text" data-theme="{{ block.theme }}" data-size="{{ block.size }}">
    <div class="container">
        {% if block.heading|length %}<h2>{{ block.heading }}</h2>{% endif %}
        {% if block.description|length %}<div class="block__content">{{ block.description }}</div>{% endif %}
        {% if block.callToAction|length or block.linkedAction %}
            <div class="block__action">
                {% if block.linkedAction %}
                    <a href="{{ block.linkedAction }}" class="btn">{{ block.callToAction ?? 'Learn More' }}</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
</section>
